{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{title}}</title>
        {% block styles %}
            {% bootstrap_css %}
            <link rel="stylesheet" type="text/css" href="{% static 'movies/index.css'%}">
        {% endblock %}
    </head>
    <body>
        
        <div class="jumbotron" style="background-color: black;">
            <h1 id="title"><a style="color: red;" href="{% url 'movies:index' %}">Couch_It</a></h1>
            <div class="embed-responsive embed-responsive-21by9">
                <iframe class="embed-responsive-item" id="video" src="//www.youtube.com/embed/{{videoId}}?rel=0" frameborder="0"></iframe>
            </div>
        </div>
        <div class="container-fluid" id="movie-detail">
            <div class="row">
                <div class="col-md-6">
                    <h1>{{movie.title}}</h1>
                    <p>Score: {{movie.vote_average}}</br>Release Date: {{movie.release_date}}</p>
                    <p>{{movie.overview}}</p>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive" src="https://image.tmdb.org/t/p/w342/{{movie.poster_path}}">
                </div>
            </div>
            
        </div>
    </body>

</html>